.featured .header {
  padding: 25px; }
  .featured .header .red-box {
    margin-left: 75px;
    margin-right: 10px;
    border: 3px solid red; }
.featured .container .card {
  border: none; }
  .featured .container .card .navbar, .featured .container .card .card-header {
    margin: 15px;
    display: inline-block;
    border-bottom-right-radius: 200px;
    border-top-right-radius: 200px;
    display: inline-block;
    width: auto;
    background-color: white; }
    .featured .container .card .navbar #navbarNavMovies, .featured .container .card .navbar #navbarNavSeries, .featured .container .card .card-header #navbarNavMovies, .featured .container .card .card-header #navbarNavSeries {
      float: right; }
      .featured .container .card .navbar #navbarNavMovies .navbar-nav, .featured .container .card .navbar #navbarNavSeries .navbar-nav, .featured .container .card .card-header #navbarNavMovies .navbar-nav, .featured .container .card .card-header #navbarNavSeries .navbar-nav {
        white-space: nowrap;
        display: table-footer-group; }
        .featured .container .card .navbar #navbarNavMovies .navbar-nav .nav-item, .featured .container .card .navbar #navbarNavSeries .navbar-nav .nav-item, .featured .container .card .card-header #navbarNavMovies .navbar-nav .nav-item, .featured .container .card .card-header #navbarNavSeries .navbar-nav .nav-item {
          display: inline-block;
          margin: 8px; }

.shop-movies .container {
  width: 100%;
  margin: 0; }
.shop-movies .preview-video {
  background-color: black;
  color: red; }
.red_bg{
	background-color: #fe4141;
	padding: 15px;
}

button{
	background-color: #fe4141;
	color: white;
}
.black_button{
    background-color: black;
	color: white;
	border: none;
}
/*header*/
#header{
	padding-top: 15px;
	padding-bottom: 15%;
	margin: 0;
	text-transform: uppercase;
	color: white;
}
#header_title{
text-align:center;
margin-top: 15%;
}

#header_subtitle{
text-align:center;
}

.button_center{
	text-align: center;
}
.red{
	color: #fe4141;
}

/*contact us*/
.grid-container{
	display: grid;
	margin: 30px;
	grid-template-columns: 50% 50%;
	grid-template-rows: 20% 20%;
	grid-column-gap: 10px; 
	grid-row-gap: 15px;
}

.item1{
grid-column:1 /span 2;
grid-row:3;
}

.item2{
grid-row: 4;
width: 25%;
}

.modal {
    display: none; /* Hidden by default */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    }

}
  .shop-movies .preview-video .card-block .row .coma {
    padding: 0; }
