.header {
  padding: 25px; }
  .header .red-box {
    margin-left: 75px;
    margin-right: 10px;
    border: 3px solid red; }

.featured .container .card {
  border: none; }
  .featured .container .card .navbar, .featured .container .card .card-header {
    margin: 15px;
    display: inline-block;
    border-bottom-right-radius: 200px;
    border-top-right-radius: 200px;
    display: inline-block;
    width: auto;
    background-color: white; }
    .featured .container .card .navbar #navbarNavMovies, .featured .container .card .navbar #navbarNavSeries, .featured .container .card .card-header #navbarNavMovies, .featured .container .card .card-header #navbarNavSeries {
      float: right; }
      .featured .container .card .navbar #navbarNavMovies .navbar-nav, .featured .container .card .navbar #navbarNavSeries .navbar-nav, .featured .container .card .card-header #navbarNavMovies .navbar-nav, .featured .container .card .card-header #navbarNavSeries .navbar-nav {
        white-space: nowrap;
        display: table-footer-group; }
        .featured .container .card .navbar #navbarNavMovies .navbar-nav .nav-item, .featured .container .card .navbar #navbarNavSeries .navbar-nav .nav-item, .featured .container .card .card-header #navbarNavMovies .navbar-nav .nav-item, .featured .container .card .card-header #navbarNavSeries .navbar-nav .nav-item {
          display: inline-block;
          margin: 8px; }
.promotion .container .card{
  margin-top: 10px;
}
.promotion .container .card .promotion-stream{
  padding: 25px;
}
.jumbotron .row .form-inline .search-bar .form-control{
  background-color: rgba(0, 0, 0, 0.7);
  width: 350px;
  border: none;
  border-radius: 1.25rem;
}
.jumbotron .row .form-inline  .input-group-addon{
  margin-left: -60px;
  background-color: transparent;
  border: none;
}

.shop-movies .container {
  width: 100%;
  margin: 0; }
.shop-movies .preview-video {
  background-color: black;
  color: red; }
  .shop-movies .preview-video .card-block .row .coma {
    padding: 0; }

#overlay {
	position: relative;
     /* Black background with opacity */
    cursor: pointer; /* Add a pointer on hover */
    z-index: 0;
}

.red_bg{
	background-color: #fe4141;
	padding: 15px;
	color: white;

}

button{
	background-color: #fe4141;
	color: white;
	border: none;
}
.black_button{
    background-color: black;
	color: white;
	border: none;
}
  position: relative;
  /* Black background with opacity */
  cursor: pointer;
  /* Add a pointer on hover */
  z-index: 0; }

.red_bg {
  background-color: #fe4141;
  padding: 15px;
  color: white; }

.black_button {
  background-color: black;
  color: white;
  border: none; }

/*header*/
.carousel-indicators{
	position: absolute;
    vertical-align:bottom;
}
#myCarousel{
	height: 800px;
}
.content{
	vertical-align: center;
}
#header {
	padding: 0;
  text-transform: uppercase;
  color: white;
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  }
  #nav_bar{
  	padding: 15px;
  	padding-left: 40px;
  }
#carousel-sliders{
  bottom: -10px;
}
#header_title {
  text-align: center;
  margin-top: 15%; }

#header_subtitle {
  text-align: center; }

.button_center {
  text-align: center; }
#header_subtitle {
  text-align: center; }

.button_right {
  text-align: right; }
.button_left {
  text-align: left; }

.red {
  color: #fe4141; }

/*contact us*/
#contact_title{
	margin-bottom: 200px;
}
.grid-container {
  display: grid;
  margin: 30px;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 20%;
  grid-column-gap: 10px;
  grid-row-gap: 15px; }

.item1 {
  grid-column: 1 /span 2;
  grid-row: 3; }

.item2 {
  grid-row: 4;
  width: 25%; }

.modal {
  display: none;
  /* Hidden by default */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */ }

.send_button {
  background-color: #fe4141;
  color: white; }

  .movieCancer{
    width:500px;
    height:550px;
    color:white;
  }
  .cancerTrailer{
    margin:auto;
    padding-top:15%;
  }
  .cancerTitle{
    margin-left:30%;
    margin-top:3%;
  }
  .cancerDate{
    margin-left:30%;
    margin-top:3%;
  }
  .cancerGenre{
    margin-left:30%;
    margin-top:3%
  }

/* =============================== FOOTER SECTION ===================================== */
.footerSubscribe {
  width: 400px;
  margin: auto;
  padding-top: 6%;
  height: 250px; }

.footerimgbox {
  display: flex; }

.footerimg img {
  width: auto;
  height: 80px; }

.footerThumbnail {
  display: flex;
  margin-top:10px;
}
.footerCancer h1{
  color:white;
}
.footerThumbnail p {
  margin-top: auto;
  margin-left:5px;
 }

.footerThumbnail img {
  width: 100px;
  height: 50px;
}

.footerContainer {
  display: flex;
  justify-content: space-around; }

footer {
  background-color: black; }

footer h4,
h1 {
  color: white; }

footer p {
  color: gray; }

footer hr {
  border: solid gray 1px; }

#orange {
  color: #fe4141; }

.footerbox {
  width: auto;
  max-width: 300px; }

.footerboxReview {
  width: auto;
  max-width: 350px; }

.footerbox h1 {
  margin: 0;
  padding: 0;
  line-height: 74%; }

footer h3 {
  text-align: center; }

#footerSubscribe {
  background-color: #fe4141;
  margin-left: 20px;
  border: solid 1px #fe4141;
}

.footerHr {
  background-color: black;
  width:auto;
  height:75px;
  border-top:gray 1px solid;
  border-bottom:gray 1px solid;
}
.footerContact h2{
  color:white;
  text-align: center;
  margin-top:10px;
}
.footerContact{
  height:150px;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.footerFonts{
  color:white;
  display:flex;
}
.footerAh{
  width:100%;
}

.footerEbola{
  width:40px;
  height:30px;
  border:gray solid 2px;
  margin-left:3px;
  margin-right:3px;
  text-align: center;
}

.footerUp{
  color:white;
  width:50px;
  height:50px;
  border: solid #fe4141 2px;
  border-radius: 100%;
  text-align: center;
  padding-top:6px;
  margin-left:90%;
  margin-top:-3%;
  cursor: pointer;
}
